<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio de Cientista de Dados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <h1>Caique Miranda</h1>
        <p>Cientista de Dados e Machine Learning</p>
    </header>

    <nav>
        <ul>
            <li><a href="#sobre">Sobre Mim</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <section id="sobre">
        <h2>Sobre Mim</h2>
        <p>Uma breve descrição sobre você e sua paixão pela ciência de dados.</p>
    </section>

    <section id="projetos">
        <h2>Projetos</h2>
        <div class="project">
            <h3>Nome do Projeto 1</h3>
            <p>Uma breve descrição do projeto 1.</p>
        </div>
        <div class="project">
            <h3>Nome do Projeto 2</h3>
            <p>Uma breve descrição do projeto 2.</p>
        </div>
        <!-- Adicione mais projetos conforme necessário -->
    </section>

    <section id="habilidades">
        <h2>Habilidades</h2>
        <ul>
            <li>Python</li>
            <li>R</li>
            <li>Machine Learning</li>
            <li>Análise de Dados</li>
            <li>Visualização de Dados</li>
            <!-- Adicione mais habilidades conforme necessário -->
        </ul>
    </section>

    <section id="contato">
        <h2>Contato</h2>
        <p>Entre em contato comigo em:</p>
        <ul>
            <li>Email: seu@email.com</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/seu_perfil" target="_blank">Perfil no LinkedIn</a></li>
            <li>GitHub: <a href="https://github.com/seu_usuario" target="_blank">GitHub</a></li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 Seu Nome</p>
    </footer>
</body>
</html>
